/* src/styles/form.css */

.footer {
    /* A darker shade of teal for the footer background for subtlety */
    background-color:#b2cee0;
    /* Using white text color for better contrast against the darker background */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 4px solid rgb(255, 127, 80);
}
  
.footer a {
    /* Coral color for links to make them stand out and maintain the theme */
    color: rgb(255, 127, 80);
}
