/* src/styles/form.css */

.form-container {
  max-width: 300px;
  margin: auto;
  /* padding: 50px 50px; */
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  background: #b2dfdb;
  align-items: center;
  justify-content: center;
}

.form h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 127, 80);
  margin: 50px;
}

/* .input-container {
  margin-bottom: 20px;
} */

/* .input-container input {
  width: 100%;
  padding: 30px;
  border: 1px solid #a2c0bf;
  border-radius: 4px;
 
} */


.form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(0, 128, 128) 0%, rgb(255, 127, 80) 100%);
  color: white;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.form-button:hover {
  /* Slightly darker on hover for better interaction feedback */
  opacity: 0.85;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.link a {
  /* Coral color for links to maintain consistency with the theme */
  color: rgb(255, 127, 80);
  text-decoration: none;
}

.input-wrapper {
  position: relative;
  font-size: 20px;
  margin-bottom: 20px;
}

.input-wrapper input {
  all: unset;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #a2c0bf;
}

.input-wrapper label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #ff7f50;
  width: 100%;
  padding: 10px 0;
  pointer-events: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

/* 
css for the form input for login component
*/

.input-wrapper > 
input:focus + label,
.input-wrapper >
input:valid + label {
  transform: translateY(-20px);
  font-size: 14px;
  color: white;


}

.input-wrapper > .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c0a2a7;
 scale: 0 1;
  transform: 0.3s;
}

.input-wrapper > input:focus ~ .underline {
  scale: 1 1;
 
}



