/* home.css */

.page-header {
  height: 100vh;
  position: relative;
}

.page-header:after {
  content: '';
  background: url("../../resource/background.jpg") center no-repeat; 
  background-size: cover;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.; /* Increase opacity to make the image more visible */
  position: absolute;
  z-index: -1;
}

.page-header h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  color: #00fffc;
  font-size: 6vw;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}

.page-header h1:hover {
  text-shadow: 0 0 10px #00fffc;
}

#case {
  height: 80vh;
  background-size: 80%;
  transition: all 0.84s;
  position: relative;
}

#case:hover {
  background-position: 100% 50%;
}

#case h2 {
  margin: 0;
  font: 400 2.3em/1 Oswald;
  text-transform: uppercase;
}

#case:hover .case-text {
  margin: 35px;
}

.case-text {
  transform: skew(-5deg);
  background: rgba(0, 0, 0, .4);
  width: 80%;
  max-width: 400px;
  padding: 15px;
  position: absolute;
  margin: 15px;
  top: 0;
  transition: all 0.7s;
}

.case-text a {
  display: inline-block;
  padding: 8px 15px;
  background: #ddd;
  font: 600 1.2em/1 Oswald;
  color: #000;
  margin: 10px 0;
  mix-blend-mode: screen;
}

.case-text a:hover {
  background: #ffffff;
  box-shadow: 0 0 10px #fffa;
}
