:root {
  --primary-color:   #1f357d; /* Teal color for the theme */
  --secondary-color: #ff7f50; /* Orange color for the theme */
  --hover-color: #506c7d; /* Darker teal for hover effects */
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 25%; /* Slightly more rounded */
  border: 1px solid #fff;
  box-shadow: 0 0 8px rgba(178, 223, 219, 0.5); /* Soft shadow with teal color */
  transition: all 0.3s ease-in-out;
 
}

.navbar {
  background-color: var(--primary-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: fixed; /* Changed from sticky to fixed */
  top: 0; /* Stick to the top */
  width: 100%; /* Full width */
  /* z-index:1; */
}

.navbar-logo {
  color: var(--secondary-color);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: var(--hover-color);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: #fff;
}

.fa-bars {
  color: var(--secondary-color);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
      position: relative; 
  }
  .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      background: var(--primary-color); /* Make sure mobile menu matches the theme */
      justify-content: start;
  }

  .nav-menu.active {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      /* z-index: -1; */
     
  }

  .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }

  .nav-links:hover {
      background-color: var(--hover-color);
      border-radius: 0;
  }

  .navbar-logo {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(25%, 30%);
  }

  .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
  }

  .fa-times {
      color: var(--secondary-color);
      font-size: 2rem;
  }

  .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: var(--secondary-color);
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
      background: #fff;
      color: var(--secondary-color);
      transition: 250ms;
  }

  button {
      display: none;
  }
}



