
/* global.css */
.page-container {
    /* Use a light teal to keep it in theme but subtle enough not to overpower other elements */
    background: #b2dfdb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
