
/* global.css */

:root {
  --background-image: url('./resource/background.jpg');
  --font-color: rgb(62, 54, 217);
  --font-size-large: 100px;
  --font-size-medium: 2rem;
  --font-size-small: 1.4rem;
  --margin-bottom-large: 100px;
  --margin-bottom-medium: 50px;
  --margin-bottom-small: 20px;
  --navbar-height: 80px; /* Adjust to your navbar's height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

body {
  padding-top: var(--navbar-height); /* Add padding to body to prevent overlap with fixed navbar */

  padding-bottom: var(--navbar-height); /* Add padding to body to prevent overlap with fixed navbar */
  }


.home, .becomeMember, .notFound, .memberPage{
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--font-color);
  padding: 2%;
  min-height: 100vh;
  overflow-y: scroll;
  margin-bottom: var(--margin-bottom-large);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .home, .becomeMember, .notFound, .memberPage {
    font-size: var(--font-size-small);
  }
}

.page-container {
  margin-top: 0; 
  /* justify-content: center; */
  /* background-image: var(--background-image); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--font-color);
  padding: 2%;

  overflow-y: scroll;
  margin-bottom: var( --margin-bottom-small);
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  
  @media screen and (max-width: 960px) {
    margin-top: 0rem; /* Increase top margin on smaller screens if needed */
  }
}

.userProfile__container {
  display: flex;
  flex-direction: column;
  color: #fff;

  img {
    display: block;
    margin: 0 auto;
    width: 30px;  
  }

  h1 {
    margin: 0 auto;
    font-size: 1.2rem;
  }
}

.CreateUser, .createAdmin, .lapSwimCheckIn, .recordPayment {
  color: #fff;
  font-size: var(--font-size-large);
}


/* If you need a default font size for other pages */
.default-font-size {
  font-size: var(--font-size-medium);
}

/* Responsive font size */
@media screen and (max-width: 960px) {
  .default-font-size {
    font-size: var(--font-size-small);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}


.create-schedule {
  background-color: #f0f0f0;
  padding: 20px;
}
